a.aBarNav { color: #898980; text-decoration: none; }	
a.aBarNav:hover { color: #bebd8b; text-decoration: none; }

.Big { font-family: Trebuchet MS, Arial; font-size: 15px; color: #83555f; }
.Mute { font-style: italic; color: #7c8085; }